html, body{
  height:100%;
  margin:0;
  display: flex;
  flex-direction: column;
}

.all-browsers {
  margin: 0;
  padding: 5px;
  background-color: lightgray;
}

.all-browsers > h1, .browser {
  margin: 10px;
  padding: 5px;
}

.browser {
  background: white;
  overflow:hidden;
}

.browser > h2, p {
  margin: 4px;
  font-size: 90%;
}

.container {
  width:auto;
  margin:0px auto;
  font-size:1em;
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 15px;
}
header {
  text-align:center;
  border: 1px solid #ccc;
  background: #fafafa
}
h1, h2, h3 {
  color: #8A8E27;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  text-align:left;
}

h1 { font-size: 2em; color:#599DC7 text-align:center; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.2em;text-decoration: underline; }


p { font: 16px arial, helvetica, sans-serif; }
p.a {
  font-family: "Times New Roman", Times, serif;
}

a {
  color: #333;
  text-decoration: none;
}
section,aside {
  padding: 10px;
  -moz-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;border-radius:3px;
}
section {
  float: left;
  width: 70%;
  background: #fafafa;
  border: 1px solid #ccc;
   justify-content: center;
  align-content: center;
}
aside {
  float: right;
  width: 25%;
  background:#ccc;
  color: #333;

 
}
nav {
  overflow: hidden;
  background:#444;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}
nav ul {
  list-style-type:none;
  float:left;
  padding:0px;
  width: 100%;
  display: table;
  text-align: center;
}
nav ul li {
  display: inline-block;
  float: none;
  padding:10px 20px;
  margin:5px 20px;
  background:#fafafa;
  -moz-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;border-radius:3px;
}
nav ul li:hover {
  background-color: #ccc;
  text-decoration: underline;
}
nav a {
 display:block;
 text-align:center;
 text-decoration:none;
 color: #333;
}
footer {
  position: fixed;
  Width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #333;
  text-align: center;
}
footer a {
  color: #fff;
}

img.izquierda {
  float: left;
  padding:10px;
}
img.derecha {
  float: right;
  padding:10px;
  overflow:hidden;
  
}
/*Formulario de correo*/
label {
    display:block;
    margin-top:20px;
    letter-spacing:1px;
}
.formulario {
    display:block;
    margin:0 auto;
    width:510px;
    color: #666666;
    font-family:Arial;
}
form {
    margin:0 auto;
    width:400px;
}
 
input, textarea {
    width:380px;
    height:27px;
    background:#8b9ea2;
    border:2px solid #f6f6f6;
    padding:10px;
    margin-top:5px;
    font-size:10px;
    color:#ffffff;
}
 
textarea {
    height:150px;
}
 
#submit {
    width:85px;
    height:35px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}

/*Galeria de imagenes*/
.thumb {
  max-width:150px;
  max-height:150px;
}

.foto {
  width:33.33%;
  border:0px dotted lightgrey;
  padding:0px;
  margin:0px;
  
}

.principal {
  display: flex;
  flex-wrap: wrap;
}


.clear {
  clear:both;
}

/* pantalla maximo 980px */
@media screen and (max-width:980px) {
  .container {
    width:98%;
  }
  section {
    width:68%;
  }
}
 
/* pantalla maximo 700px */
@media screen and (max-width:700px) {
  aside,section {
    float:none;
    width:96%;
    font-size:1.2em;
  }
  nav, section {
    font-size:1.2em;
  }
  aside {
    margin-top:5px;
    background:#333;
   	overflow: hidden;
  }
  nav ul {
    float:none;
    clear:both;
  }
}
 
 
/* pantalla maximo 480px */
@media screen and (max-width:480px) {
  aside {
    display:block;
    background:#333;
   
    font-size:1.5em;
  }
  nav, section {
    font-size:1.5em;
  }
  section {
    width:94%;
  }
  nav ul {
    display: table;
    text-align: center;
    float: none;
    width:100%;
  }
  nav ul li {
    float:none;
  }


