@charset "utf-8";
/* CSS Document */
* {
  box-sizing: border-box;
}
 header{
        background-color: #F9F8FC;
      }
 
      #logo{
        margin: auto;
        height: 200px;
        width: 320px;
        text-align: center;
      }
 
      #logo h1{
         font-family: 'Pacifico', cursive;
         font-size: 58px;
       }

 .menu-main{
    display: flex;
    justify-content: space-between;
    background: #3b5998;
    border-bottom: 1px solid #29487d;
    height: 45px;
}

.menu-main a{
    flex: 1;
    font-family: arial;
    display: flex;
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;    
    justify-content: center;
    align-items: center;
}

.menu-main a:hover{
    background: rgba(0,0,0, .1);
}

.menu-main a.active{
    background-color: #29487d;
}

@media (max-width: 768px) {
    
    .menu-main{
        height: auto;
        border-bottom: 0px;
        display: block;
    }
    
    .menu-main a{
        height: 45px;
        border-bottom: 1px solid #29487d;
    }



.main {
  float:left;
  width:60%;
  padding:0 20px;
}
.right {
  background-color:#e5e5e5;
  float:right;
  width:40%;
  height:auto;
  padding:15px;
  margin-top:7px;
  text-align:center;
}

figure {
    display: table; margin: 0 auto;
}
footer {
    position: relative;
    margin-top: 10px;
    height: 40px; 
    padding:5px 0px;
    clear: both;
    text-align: center;
   
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}
.grid-container > div{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}

@media only screen and (max-width:620px) {
 
  .menu, .main, .right {
    width:100%;
  }
}